@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@400;500;600&family=Roboto:wght@100;300;500&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');
.admin{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.admin-orders{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;

}
.admin-item {
    padding-right: 30px;
    align-items: left;
    margin-bottom: 10px;
    border: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
}

.admin-item h2 {
    font-size: 20px;
    font-weight: bold;
    color: #405cf5;
    margin-top: 5px;
}

.admin-item p {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-top: 5px;
}
/* CSS */
.sign-out {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.sign-out:disabled {
  cursor: default;
}

.sign-out:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}