.admin{
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}

.admin-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}