.home {
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;

}
.home-item {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 6px 6px 6px black;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.home-item li {
    margin-top : 10px;
    margin-bottom : 10px;

}


